.bg-summer-primav {
  border-radius: 0px 0px 0px 0px;
  background-image: url(../../styles/summer-summer.gif);
  background-repeat: no-repeat;
  background-position: center , center;
  background-size: 4000px;

}