.w-uau {
  width: 80% !important;
}

.rounded-uau {
  border-radius: 50% !important;
  height: 100px;
}

.bg-escolhido {
  background-color: #141820;
}

.bg-foda {
  border-radius: 0px 0px 0px 0px;
  background-image: url(../../styles/summer_sale.gif);
  background-repeat: no-repeat;
  background-position: top , center;
  background-size: 4000px;

}
.bg-fodaParteCima {
  border-radius: 0px 0px 5px 5px;
  background-image: url(../../styles/summer_sale.gif);
  background-repeat: no-repeat, repeat-x;
  background-position: bottom;
  background-size: 3000px;
}
.NAOAMIGO {
  text-decoration: none;
}
.redondo {
  border-radius: 0px 0px 40px 40px;
}